# This file contains pin mappings for the stock 2022 Creality Ender 3
# V2 Neo. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# This also works for the GD32F303 based Creality 4.2.2 board.

# See docs/Config_Reference.md for a description of parameters.

# This file contains pin mappings for the stock 2021 Creality Ender 3
# Neo Max with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# serial (on USART1 PA10/PA9) communication.

# It should be noted that newer variations of this printer shipping in
# 2022 may have GD32F103 chips installed and not STM32F103. You may
# have to inspect the mainboard to ascertain which one you have. If it
# is the GD32F103 then please select Disable SWD at startup in the
# "make menuconfig" along with the same settings for STM32F103.

# This configuration is setup with a Creality Sprite SE Extruder direct
# drive unit and the factory BL Touch. The stock display is not supported.

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed. Disconnect the screen before flashing.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]

[include KAMP_Settings.cfg]

[include Adaptive_Meshing.cfg]

[include Line_Purge.cfg]

[include config_backup.cfg]

[exclude_object]

#[firmware_retraction]
#retract_length: 0.4
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: -20
position_min: -20
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_min: -3
position_max: 300

[extruder]
max_extrude_cross_section: 5 ## FOR KAMP ##
max_extrude_only_distance: 101.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.531
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: .045
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -36
y_offset: -13
#z_offset: 0
speed: 20
samples: 1
sample_retract_dist: 8.0

[safe_z_home]
home_xy_position: 150,150
speed: 150
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 180
mesh_min: 36,13         # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 264,287       # Max probe range
probe_count: 15,15
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[bed_screws]
screw1:30, 40
screw1_name:1
screw2: 270, 40
screw2_name:2
screw3: 270, 280
screw3_name:3
screw4: 30, 280
screw4_name:4

[screws_tilt_adjust]
screw1: 70, 50
screw1_name: front left screw
screw2: 300, 50
screw2_name: front right screw
screw3: 300, 290
screw3_name: rear right screw
screw4: 70, 290
screw4_name: rear left screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4 # Use CW for Clockwise and CCW for Counter Clockwise

[idle_timeout]
timeout: 3600  # 1 hour
#gcode:  # Optional - specify gcode to run when the timeout is reached



[gcode_arcs]
#    resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    M140 S{BED_TEMP} ; Start heating the bed but don't wait
    G90 ; Use absolute coordinates
    G28 ; Home the printer
    M109 S150 ; Heat nozzle to 150°C for mesh calibration
    M190 S{BED_TEMP} ; Wait for the bed to reach the target temperature
    BED_MESH_CALIBRATE ; Perform bed mesh calibration
    SMART_PARK
    M109 S{EXTRUDER_TEMP} ; Heat nozzle to the target printing temperature
    G92 E0 ; Reset extruder
    LINE_PURGE ; Perform adaptive line purging

[gcode_macro END_PRINT]
gcode:
    M140 S0 ; Turn off bed heating
    M104 S0 ; Turn off extruder heating
    M106 S0 ; Turn off fan
    G91 ; Set to relative positioning
    G1 E-.7 F1800 ; Retract filament and move nozzle away slowly
    G1 Z10 F1000 ; Raise nozzle quickly
    G90 ; Set back to absolute positioning
    G1 X300 Y300 F1000 ; Move nozzle to the back-right side of the bed
    G1 Y295 F1000 ; Move bed forward quickly to max Y position
    M84 ; Disable all stepper motors

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-1 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.550
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.027500, -0.060000, -0.080000
#*# 	  -0.010000, -0.057500, -0.082500
#*# 	  -0.020000, -0.040000, -0.062500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 115.022
#*# max_x = 184.982
#*# min_y = 115.031
#*# max_y = 184.971
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.743
#*# pid_ki = 0.407
#*# pid_kd = 3527.714
